.bookDetails {
  display: flex;
  justify-content: space-between;
  background: #bdbdbd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.bookDetails__title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.bookDetails__author {
  font-size: 0.9em;
  color: #eee;
}

.bookDetails__button {
  padding: 10px;
}

.bookDetails__button > .MuiSvgIcon-root {
  height: 35px;
  width: 35px;
  color: green;
  opacity: 0.5;
}

.bookDetails__button > .MuiSvgIcon-root:hover {
  cursor: pointer;
  opacity: 1;
}
